@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Campton';
  font-style: thin;
  src: url('fonts/Campton-Book.woff2') format('woff2'),
    url('fonts/Campton-Book.woff') format('woff');
}

@font-face {
  font-family: 'Campton';
  font-weight: 700;
  src: url('fonts/Campton-Bold.woff2') format('woff2'),
    url('fonts/Campton-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Campton';
  font-weight: 800;
  src: url('fonts/Campton-ExtraBold.woff2') format('woff2'),
    url('fonts/Campton-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Campton';
  font-weight: 600;
  src: url('fonts/Campton-SemiBold.woff2') format('woff2'),
    url('fonts/Campton-SemiBold.woff') format('woff');
}

.headline {
  font-weight: 700 !important;
}

.word {
  @apply pointer-events-none;
  position: absolute;
  z-index: 10;
  /* center absolute div */
  display: inline-block;
  /* opacity: 1; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section {
  @apply w-[100vw] max-w-[100vw] flex flex-col justify-center items-center relative p-8 lg:p-16;
}

.sectionWrapper {
  @apply h-[100%] max-w-[1000px] w-full flex;
}

.cardCarousel {
  @apply text-left overflow-hidden border w-[100%] sm:w-[70%] rounded-lg bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-60 border-primary p-4 flex flex-col items-start font-tabletgothic justify-between relative !pointer-events-auto cursor-pointer transition hover:scale-105;
}

.projectCarousel {
  @apply text-left border w-[100%]  rounded-lg bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60 border-primary p-4 flex flex-col items-start font-tabletgothic justify-between relative !pointer-events-auto cursor-pointer transition hover:scale-105;
}

.modalCarousel {
  @apply border w-[100%] h-[100%] rounded-lg bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-60 border-primary font-tabletgothic relative !pointer-events-auto transition overflow-x-clip;
}

.modalCarousel2 {
  @apply border border-primary rounded-lg w-[100%] h-[100%] font-tabletgothic relative !pointer-events-auto transition;
}

.cardGradient {
  @apply absolute top-0 left-0 rounded-lg w-[100%] h-[100%] bg-gradient-to-r z-[-1] bg-opacity-80 backdrop-filter backdrop-blur-xl;
}

.inputField {
  @apply border-2 backdrop-filter backdrop-blur-lg bg-transparent border-primary rounded-lg p-2;
}

h3 {
  @apply text-lg font-tabletgothic;
}

.centerAbsolute {
  transform: translate(-50%, -50%);
}

.centerAbsoluteParticles {
  top: 0;
  right: 0%;
  transform-origin: center;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

h5 {
  @apply text-neutral-400 text-sm;
}

body {
  color: white;
  background: black;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
.font-tabletgothic {
  line-height: 1.4;
  min-height: 0em; /* Set a min-height to the container */
}

.mainOrb {
  /* opacity: 70%; */
  /* radial gradient blue light orb with three color steps */
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 189, 199, 1) 0%,
    rgba(0, 189, 199, 1) 1%,
    rgba(0, 189, 199, 0.8) 1.2%,
    rgba(0, 189, 199, 0.6) 15%,
    rgba(0, 189, 199, 0) 70%,
    rgba(0, 189, 199, 0) 100%
  );
}

.cls-1 {
  fill: none;
  stroke-miterlimit: 10;
  position: absolute;
  top: 0;
  left: 0;
}
.secondaryOrb,
.headlightOrb {
  opacity: 0;
  /* radial gradient blue light orb with three color steps */
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 189, 199, 1) 0%,
    rgba(0, 189, 199, 0.8) 20%,
    rgba(0, 189, 199, 0) 70%,
    rgba(0, 189, 199, 0) 100%
  );
}

.introOrb {
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 189, 199, 1) 0%,
    rgba(0, 189, 199, 0.8) 20%,
    rgba(0, 189, 199, 0) 70%,
    rgba(0, 189, 199, 0) 100%
  );
}

.cityOrb {
  opacity: 0;
  /* radial gradient blue light orb with three color steps */
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 189, 199, 1) 0%,
    rgba(0, 189, 199, 0.8) 5%,
    rgba(0, 189, 199, 0) 70%,
    rgba(0, 189, 199, 0) 90%
  );

  animation: cityOrbAnimation 2s ease-in-out infinite;
}

@keyframes cityOrbAnimation {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}

.logoOrb {
  opacity: 0;
  /* radial gradient blue light orb with three color steps */
  background: radial-gradient(
    circle at 50% 50%,
    rgb(27, 216, 226) 0%,
    rgba(27, 216, 226) 1%,
    rgba(0, 189, 199, 0) 1.2%,
    rgba(0, 189, 199, 0) 100%
  );
}

.house {
  background-color: rgba(0, 0, 0, 1);
  backdrop-filter: blur(10px);
}

.rightCityBlock,
.leftCityBlock {
  display: flex;
  flex-direction: row;
  position: relative;
}

.smallOrb {
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 189, 199, 1) 0%,
    rgba(0, 189, 199, 1) 1%,
    rgba(0, 189, 199, 0.8) 1.2%,
    rgba(0, 189, 199, 0.6) 15%,
    rgba(0, 189, 199, 0) 70%,
    rgba(0, 189, 199, 0) 100%
  );
  width: 5rem;
  height: 5rem;
  position: absolute;
}

.smallFrontOrb {
  opacity: 0;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 189, 199, 1) 0%,
    rgba(0, 189, 199, 0.8) 20%,
    rgba(0, 189, 199, 0) 70%,
    rgba(0, 189, 199, 0) 100%
  );
  width: 2rem;
  height: 2rem;
  opacity: 0.5;
  position: absolute;
}

/* apply animation glow here */
.future {
  animation: glow 1s ease-in-out infinite;
}

/* add fade-in to the h1 */
h1,
.logo {
  animation: fadeIn 0.5s ease-in-out;
}

/* cursors setup */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;

  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 999;
}

.cursor::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
.piu {
  display: block;
  font-size: 1rem;
  opacity: 0;
}
.piu.active {
  display: block;
  margin-top: 31.3%;
}

.cursor-follower {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 999;
  user-select: none;
  pointer-events: none;
  /* transform: translate(4px, 4px); */
}

/* animation - rapid outside glow that grows and then shrinks back (something like expecto patronum) */
@keyframes glow {
  0% {
    filter: drop-shadow(0 0 0 0 rgba(0, 189, 199, 0.7));
  }
  50% {
    filter: drop-shadow(0 0 0 50px rgba(0, 189, 199, 0));
  }
  100% {
    filter: drop-shadow(0 0 0 0 rgba(0, 189, 199, 0));
  }
}

.hook {
  @apply h-[50vh] sm:!h-[100vh] overflow-hidden;
}

/* fade in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* In your CSS file, e.g., App.css */
/* modal-insight.css */

.modal-insight p {
  line-height: 1.6;
  font-weight: normal;
  margin-bottom: 16px;
}

.modal-insight h1,
.modal-insight h2,
.modal-insight h3,
.modal-insight h4,
.modal-insight h5,
.modal-insight h6 {
  margin-bottom: 20px;
}

.modal-insight h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.75em;
  font-weight: bold;
}

.modal-insight h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.modal-insight h4 {
  font-size: 1.25em;
  font-weight: bold;
}

.modal-insight h5 {
  font-size: 1em;
  font-weight: bold;
}

.modal-insight h6 {
  font-size: 0.875em;
  font-weight: bold;
}

.modal-insight span {
  line-height: 1.6;
  font-weight: normal;
}

.innovation-text h3 {
  margin-bottom: 0.5rem;
}

li {
  position: relative;
  padding-left: 20px; /* Create space for the custom bullet point */
}

li::before {
  content: '\2022'; /* Unicode bullet character */
  position: absolute;
  left: 0;
  color: rgba(
    0,
    189,
    199,
    1
  ); /* Sets the color of the custom bullet points to green */
  font-size: 1em; /* You can adjust the size if needed */
}

/* Add other styles as necessary */
